// Font
$mainFont: 'Montserrat', sans-serif;

// Colors
$colorGreen: #4CB8B3;
$colorPink: #F53756;
$colorYellow: #FEF46D;
$colorPurple: #752F97;
$colorBlack: #000000;
$colorWhite: #FFFFFF;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;