@use 'base/variables' as v;
@use 'base/mixins' as m;

.video {
    position: relative;
    min-height: 50rem;
    max-height: 70rem;
    overflow: hidden;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(3, 230, 255);
        background: linear-gradient(270deg, rgba(3, 230, 255, 0.3) 0%, rgba(0, 255, 147, 0.2) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    video {
        width: auto;
        display: block;
        @include m.mediaQuery(v.$desktop){
            width: 100%;
        }
    }
}

.video-content {
    z-index: 1;
    h2 {
        color: v.$colorWhite;
        font-size: 7rem;
        margin: 0;
    }

    p {
        background-color: v.$colorDarkGreen;
        display: inline-block;
        padding: 1rem 2rem;
        color: v.$colorWhite;
        font-weight: 700;
        font-size: 2.4rem;
        margin: 0;
    }
}